.box-icon {
    text-align: center;
    margin-top: 40px;
    .img {
        min-height: 155px;
        padding-bottom: 10px;
        img {
            margin: 0 20px;
        }
    }
    p {
        max-width: 550px;
        display: inline-block;
    }
}