.btn-style {
   
    height: 47px;
    border: 1px solid $main;
    border-radius: 24px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    max-width: 160px;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: $main;
    svg {
        margin-left: 10px;
    }
    
}

.btn-style-1 {
    height: 37px;
    padding: 0 20px;
    background: $main;
    color: $white;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    border-radius: 0;
    svg {
        margin-left: 7px;
    }
    &:hover {
        background: #CE661B;
    }
}