.footer {
    padding: 40px 0 30px 0;
    background: $black;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .outer {
        display: block;
        .logo {
            background: $white;
            border-radius: 50%;
            display: block;
        }
        ul {
            display: flex;
            padding: 0;
            margin: 20px 0 0 0;
            justify-content: space-between;
            li {
                list-style: none;
                color: $white;
                a {
                    color: #fff;
                }
            }
        }
    }
    .right {
        text-align: right;
        color: $white;
        ul {
            display: flex;
            padding: 0;
            margin: 0 0 20px 0;
            
            li {
                list-style: none;
                margin-left: 25px;
                
                a {
                    color: $white;
                    font-weight: 600;
                    text-decoration: none;
                    &:hover {
                        color: $main;
                    }
                }
            }
           
        }
        p {
            margin-bottom: 3px;
        }
    }
    @include lg(){
        .container {
            display: block;
            .outer {
                text-align: center;
                .logo {
                    display: inline-block;
                }
                ul {
                    justify-content: center;
                    li {
                        margin: 0 10px;
                    }
                }
            }
            .right {
                margin-top: 30px;
                text-align: center;
                ul {
                    justify-content: center;
                    li {
                        margin-left: 0;
                        margin-right: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}