.section {
    #inputEmail-error, #inputName-error, #inputEmailHelp-error{
        color: red;
        font-size: .8rem;
    }
    .border-gradient {
        border: 2px solid;
        border-image-slice: 1;
        border-width: 2px;
    }
    .border-gradient-whitle {
        border-image-source: linear-gradient(to right, rgb(255 255 255), rgb(0, 0, 0, 0.8));
    }
    padding: 36px 0;
    @include lg(){
        padding: 30px 0;
    }
    &#one {
        padding-top: 120px;
    }
    &.section-culture {
        padding-bottom: 10px;
        background: url(../images/bgd/bgd-culture.png)center bottom no-repeat;
        background-size: cover;
        h3 {
            font-size: 18px;
            font-family: "Fira Sans Extra Condensed", sans-serif;
            font-weight: 500;
        }
        
    }
    &.section-new {
        padding: 50px 0;
        background: url(../images/bgd/bgd-news.jpg) no-repeat top/cover;
        position: relative;
        color: $white;
        .title {
            color: $white;
            &:after {
                background: $white;
            }
        }
        
        .outer-news {
            display: flex;
            background: rgba(0, 0, 0, 0.8);
            padding: 30px;
            
            @include lg(){
                display: block;
            }
        }
    }
    &.section-product {
        background: url(../images/bgd/bgd-product.jpg) no-repeat center/cover;
        position: relative;
    }
    &.section-contact {
        padding-top: 150px;
        padding-bottom: 0;
        .sup {
            width: 100%;
            max-width: 770px;
            margin: 0 auto;
            text-align: center;
        }
        .bottom-contact {
            background: url(../images/bgd/bgd-contact.jpg) no-repeat center/cover;
            padding: 80px 0;
            color: $white;
            
            .frm-contact {
                padding: 40px;
                background: rgba($color: #000000, $alpha: 0.8);
                position: relative;
                .form-control {
                    border-radius: 0;
                    background: #D9D9D9;
                    resize: none;
                }
                
            }
            .inner {
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover {
                        color: $main
                    }
                }
                padding-left: 30px;
                p {
                    margin-bottom: 20px;
                }
                address {
                    margin-bottom: 20px;
                }
                .list-share {
                    list-style: none;
                    padding-left: 0;
                    li {
                        margin-bottom: 16px;
                        display: flex;
                        align-items: center;
                        strong {
                            display: flex;
                            align-items: center;
                            width: 130px;
                            text-transform: uppercase;
                            font-family: "Fira Sans Extra Condensed", sans-serif;
                            font-size: 20px;
                            font-weight: 600;
                            svg {
                                margin-right: 10px;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: $white;
                        }
                    }
                }
            }
        }
        @include lg(){
            padding-top: 100px;
            .bottom-contact {
                .frm-contact {
                    margin-bottom: 30px;
                }   
                .inner {
                    padding: 0;
                }
            }
           
        }
    }
    &.section-team {
        background: linear-gradient(270deg, #FDE9E1 7.96%, rgba(253, 233, 225, 0) 100%);
        padding-top: 0;
        overflow: hidden;
        position: relative;
        .img-5 {
            position: absolute;
            left: 0;
            top: 0;
            width: 40%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            @include lg(){
                display: none;
            }
        }
        .box-team {
            padding-left: 40%;
            padding-top: 30px;
            padding-bottom: 30px;
            @include lg(){
                padding-left: 0;
            }
        }
    }
    &.section-map {
        padding-top: 22%;
        background: url(../images/map.png) top center no-repeat;
        background-size: contain;
        @include sm(){
           padding-top: 45%;
        }
    }
    &.section-news {
        padding-bottom: 0;
        .outer{
            padding: 0 0 45px 0;
            @include lg(){
                padding-bottom: 10px;
            }
        }
    }
}
.outer {
    display: flex;
    .slide {
        padding-left: 60px;
        @include lg(){
            padding: 0;
            width: 100%;
        }
    }
    .des {
        margin: auto;
        padding-left: 90px;
        ul {
            li {
                margin-bottom: 10px;
            }
           
        }
    }
    .inner-img {
       
       
        display: flex;
        align-items: center;
        
        .img-1 {
            box-shadow: -20px 20px 0 $main;
            margin-left: 20px;
            max-width: 290px;
            @include lg(){
                margin-bottom: 25px;
                margin-left: 0;
              
            }
        }
        .img-2 {
            position: relative;
            z-index: 1;
            margin-left: -100px;
            box-shadow: 20px 20px 0 #3FDBFA;
            margin-top: 20px;
            max-width: 255px;
            @include xxl(){
                margin-left: -200px;
            }
            @include lg(){
                margin-left: -220px;
              
            }
        }
        .img-3 {
            box-shadow: 20px 20px 0 #F38833;
            margin-left: 20px;
            @include lg(){
                margin-right: 40px;
                /* width: 100%; */
                width: auto;
                display: block;
                max-width: 93%;
                margin-bottom: 20px;
            }
        }
        .img-4 {
            box-shadow: -20px 20px 0 #D1E4B8;
            margin-left: 20px;
            @include lg(){
               max-width: 93%;
              margin-bottom: 20px;
            }
        }
        .img-6 {
            box-shadow: -20px -20px 0 #123553;
            margin-left: 20px;
            @include lg(){
                max-width: 93%;
               margin-bottom: 0px;
             }
        }
        .img-5s {
            box-shadow: -20px 20px 0 #000000;
            margin-left: 20px;
            @include lg(){
                margin-bottom: 25px;
            }
            @include md(){
                width: 93%;
                
            }
        }
        .img-7 {
            box-shadow: 20px -20px 0 #e1deda;
            margin-left: 20px;
            @include lg(){
                margin-top: 20px;
                margin-right: 40px;
            }
            @include lg(){
                max-width: 93%;
               
             }
        }
        .img-8{
            box-shadow: -20px 20px 0 #2F4F02;
            margin-left: 20px;
            @include lg(){
                margin-bottom: 20px;
               
            }
            @include lg(){
                max-width: 93%;
               
             }
        }
    }
    @include lg(){
        flex-wrap: wrap;
        .des {
            width: 100%!important;
            padding-left: 0!important;
            padding-right: 0!important;
        }
        .inner-img {
            width: 100%;
            padding: 0!important;
            justify-content: center!important;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

.w-40 {
    width: 40%;
    @include lg(){
        width: 100%;
    }
}
.w-60 {
    width: 60%;
    @include lg(){
        width: 100%;
    }
}

.qoute {
    padding: 50px 60px;
    position: relative;
    .before {
        position: absolute; 
        left: 0;
        top: 40px;
    }
    .after {
        position: absolute; 
        right: 0;
        bottom: 40px;
        transform: rotate(-180deg);
    }
    @include lg(){
        padding: 30px 45px;
       
        span {
            max-height: 290px;
            overflow-y: scroll;
            display: block;
        }
        .before {
          
            top: 30px;
        }
        .after {
           
            bottom: 30px;
            
        }
    }
}

.btn-menu {
    display: none;
    @include lg() {
        display: block;
    }
}

.outer-news {
    .swiper-wrapper {
        .swiper-slide {
            width: 25%;
            &:first-child {
                width: 50%;;
            }
            @include lg(){
                width: 100%!important;
                .box-news {
                    img {
                        height: 300px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            } 
        }
    }
}

.box-news {
    padding: 0 10px;
    
    h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-family: "Fira Sans Extra Condensed", sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        line-height: 1.5;
        font-weight: 600;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $main;
            }
        }
    }
    img {
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
   
    @include lg(){
        width: 100%!important;
        padding: 0;
        margin-top: 20px;
        img {
            width: 100%;
            height: auto;
        }
        &:first-child {
            margin-top: 0;
        }
    }
}