.header {
    background: #FDEAE3 url(../images/bgd/bgd-header.png) no-repeat center/cover;
    position: relative;
    .btn-down { 
        position: absolute;
        bottom: 8%;
        left: 50%;
        margin-left: 0;
        cursor: pointer;
        z-index: 99;
        @include lg(){
            bottom: 30px;
        }
    }
    &.video {
        width: 100%;
        background: none;
        height: 0;
        padding-bottom: 45%;
        position: relative;
        .thumb-video {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: center top;
        }
        &::after {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.1) 30%, white 100%);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            content: "";
        }
        h2{
            position: absolute;
            z-index: 3;
            top: 50%;
            color: #96b96f;
            font-size: 6.5vw;
            line-height: 1.1;
            margin-bottom: 20px;
            font-weight: 600;
            margin-bottom: 0;
        }
        @include lg(){
           padding-bottom: 85%;
           h2 { top: 75%; font-size: 3rem;}
           .thumb-video{
                object-position: center left;
           }
        }
    }
    .icon-video {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 0;
        margin-left: -26px;
        z-index: 3;
        cursor: pointer;
        transition: all 0.25s ease-in-out 0s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .inner-header {
        align-items: center;
        max-height: 768px;
        display: flex;
        
        @include lg(){
            display: block;
            height: auto;
            max-height: 100%;
            padding-bottom: 120px;
            
        }
        
    }
    @include xxl(){
        padding-top: 50px;
    }
    &.img {
        background: none;
        .outer-food {
            display: flex;
            height: calc(100vh - 70px);
            align-items: center;
            justify-content: space-between;
            .thumb-img {
                order: 2;
                justify-content: flex-end;
                max-width: 54%;
                display: flex;
                align-items: center;
              
            }
            .des-1 {
                order: 1;
                width: 100%;
                max-width: 50%;
                margin-top: 61px;
                span {
                    color: #C3E3D4;
                    font-size: 80px;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-weight: 700;
                    font-family: 'Inter', sans-serif;
                    position: relative;
                    display: block;
                    padding-bottom: 20px;
                    &:after {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        width: 50vw;
                        content: "";
                        background: #C3E3D4;
                    }
                }
            }
            @include xl(){
                .des-1 {
                    span {
                        font-size: 70px;
                    }
                }
            }
            @include lg(){
                display: block;
                height: auto;
                max-height: 100%;
                padding-bottom: 40px;
                position: relative;
                .thumb-img {
                    width: 100%;
                    max-width: 100%;
                    // margin-top: 30px;
                    text-align: center;
                    display: block;
                    
                }
                .des-1 {
                   position: absolute;
                   left: 0;
                   top: 80%;
                    text-align: center;
                    max-width: 100%;
                    margin-top: 20px;
                    transform: translateY(-50%);
                    span {
                        font-size: 46px;
                        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
                        &::after {
                           display: none;
                        }
                    }
                }
            }
        }
   }
}