.icon {
    display: inline-block;
    vertical-align: middle;
    &.btn-change-avatar { 
        width: 24px;
        height: 24px;
        background: url('../../public/static/images/icon/btn-change-avatar.svg') no-repeat center/contain;
    }
    
}


