.modal  {
    .modal-body {
        ul{
            max-height: 30vh;
            overflow:auto; 
        }
        padding: 30px;
        h2 {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Fira Sans Extra Condensed", sans-serif;
            margin-bottom: 20px;
        }
        p{
            max-height: 40vh;
            overflow:auto;
        }
    }
    .btn-close {
        outline: none;
        box-shadow: none;
        border: 0;
        position: absolute;
        right: -5px;
        top: -15px;
        width: 45px;
        height: 45px;
        background: url(../images/icon/icon-close.svg) center no-repeat;
        color: $white;
        opacity: 1;
        z-index: 1;
        cursor: pointer;
    }
}