.main-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 50px 0;
    z-index: 999;
    transition: all 0.25s ease-in-out 0s;
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        .logo {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -58px;
            z-index: 99;
            background: $white;
            border-radius: 50%;
        }
        .left-nav { 
            display: flex;
            padding: 0 25px 0 100px;
            margin: 0 0 0 10px;
            list-style: none;
            align-items: center;
           border-radius: 25px;
            border: 2px solid #000;
        
            li {
                
                a {
                    padding: 13px 25px;
                    display: block;
                    font-weight: 600;
                    color: $black;
                    text-decoration: none;
                    &:hover {
                        color: $main;
                    }
                }
                &.active {
                    a {
                        color: $main;
                    }
                }
            }
            @include lg(){
                left: 100%;
                display: block;
                position: absolute;
                transition: all 0.35s ease-in-out 0s;
                top: 100%;
                width: 0;
                margin: 0;
                padding: 0;
                background: #fff!important;
                border: 0!important;
                border-radius: 0;
                opacity: 0;
                overflow: hidden;
                height: calc( 100vh - 75px);
                li {
                    a {
                        color: #000!important;
                        &:hover {
                            color: $main!important;
                        }
                    }
                    &.active {
                        a {
                            color: $main!important;
                        }
                    }
                }
            }
        }
        .social-nav {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            align-items: center;
            li {
                padding-left: 20px;
                a {
                    color: #000;
                }
                svg {
                    cursor: pointer;
                }
            }
        }
    }
    &.white {
        .container {
            .left-nav {
                background: $black;
                border: 2px solid #fff;
                li {
                    a {
                        color: $white;
                        &:hover {
                            color: $main;
                        }
                    }
                    &.active {
                        a {
                            color: $main;
                        }
                    }
                }
            }
        }
        .social-nav {
            li {
                svg {
                    color: $white;
                }
            }
        }
        .btn-menu {
            svg {
                color: #fff;
            }
        }
    }
    &.black {
       
        padding-top: 35px;
        padding-bottom: 35px;
        .container {
            .left-nav {
                background: $black;
                border: 2px solid #fff;
                li {
                    a {
                        color: $white;
                        &:hover {
                            color: $main;
                        }
                    }
                    &.active {
                        a {
                            color: $main;
                        }
                    }
                }
            }
        }
        .social-nav {
            li {
                svg {
                    color: $black!important;
                }
            }
        }
        .btn-menu {
            svg {
                color: #000;
            }
        }
    }
    @include lg(){
       
        padding: 25px 0;
        .container {
            position: static;
            justify-content: flex-end;
            .logo {
                width: 50px;
                height: 50px;
                margin-top: -25px;
                left: 15px;
            }
        }
        &.black {
            padding: 25px 0;
        }
        .btn-menu {
            margin-left: 20px;
           
        }
       
    }
}

.open {
    .main-nav {
        .container {
            .left-nav {
                display: block;
                position: absolute;
                left: 0;
                top: 100%;
                width: 100vw;
                margin: 0;
                padding: 0;
                background: $white;
                border-color: $black;
                opacity: 1;
                li {
                    a {
                        color: $black;
                        &:hover {
                            color: $main;
                        }
                    }
                    &.active {
                        a {
                            color: $main;
                        }
                    }
                }
            }
            .btn-menu {
                svg {
                    color: $main;
                }
            }
        }
    }
}