.main-swiper {
    order: 2;
    .swiper-slide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0!important;
        &.swiper-slide-active {
            opacity: 1!important;
        }
        .outer-img {
            order: 2;
            text-align: right;
            max-width: 45%;
            height: calc( 100vh - 50px);
            display: flex;
            align-items: center; 
            padding-right: 50px;
        }
        .des {
            order: 1;
            width: 100%;
            max-width: 45%;
            margin-top: calc(768px/2 - 323px);
           
            h2 {
                color: $blue;
                font-size: 80px;
                line-height: 1;
                margin-bottom: 20px;
                span {
                    font-size: 60px;
                    display: block;
                }
            }
            p {
                margin-bottom: 20px;
            }
        }
        @include lg(){
            display: block;
            .outer-img {
                order: 2;
               margin-top: 50px;
                max-width: 100%;
                height: auto;
                display: flex;
                align-items: center; 
                justify-content: center;
                padding-right: 0;
            }
            .des {
                max-width: 100%;
                margin-top: 30px;
                text-align: center;
                h2 {
                    font-size: 40px;
                    span {
                        font-size: 30px;
                    }
                }
            }
            .btn-style {
                display: inline-block;
                line-height: 31px;
                margin-top: 5px;
            }
        }
        @include sm(){
           
            .des {
                margin-top: 20px;
                h2 {
                    margin-bottom: 10px;
                }
                p {
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
            .btn-style {
                display: inline-block;
                line-height: 28px;
                height: 40px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        
    }
    .swiper-pagination {
        width: 15px;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        left: auto;
        flex-direction: column;
        .swiper-pagination-bullet {
            margin: 5px 0;
            opacity: 1;
            &.swiper-pagination-bullet-active {
                background: $main;
            }
        }
        
        
    }
    @include lg(){
        .swiper-pagination {
            display: none;
        }
      
    }
}

.product-swiper {
    padding-bottom: 70px;
    margin-top: 80px;
    .product-slide {
        overflow: hidden;
        position: relative;
        box-shadow: 1px 3px 7px rgb(0 0 0 / 0.5);
        img {
            width: 100%;
        }
        .detail {
            position: absolute;
            z-index: 2;
            color: $white;
            text-align: center;
            font-size: 15px;
            left: 0;
            bottom: 0;
            padding: 10px 5px;
            a {
                text-decoration: none;
                color: $white;
                font-size: 20px;
                font-family: "Fira Sans Extra Condensed", sans-serif;
                font-weight: 700;
                margin-bottom: 15px;
                display: block;
            }
            p {
                margin-bottom: 0;
                height: 0;
                overflow: hidden;
                transition: all 0.25s ease-in-out 0s;
            }
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 50%, black 100%);
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover {
            .detail {
                p {
                    height: 135px;
                }
            }
        }
    }
    .swiper-button-prev {
        left: 0;
        top: auto;
        bottom: 0;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        opacity: 1;
        border: 1px solid $black;
        border-radius: 50%;
        &:after {
            font-size: 14px;
        }
    }
    .swiper-button-next {
        left: 50px;
        top: auto;
        bottom: 0;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        opacity: 1;
        border: 1px solid $black;
        border-radius: 50%;
        &:after {
            font-size: 14px;
        }
    }
    .swiper-pagination {
        width: 84%;
        left: 16%;
        top: auto;
        bottom: 15px;
        .swiper-pagination-progressbar-fill {
            background: $main;
        }
        @include sm(){
            width: 70%;
            left: 30%;
        }
    }
    @include sm(){
        margin-top: 10px;
    }
}

.team-swiper {
    margin-top: 40px;
    .swiper-slide {
        text-align: center;
        .fullname {
            font-family: "Fira Sans Extra Condensed", sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            display: block;
            line-height: 1.1;
            margin: 15px 0 5px 0;
        }
        .fulltitle {
            font-family: "Fira Sans Extra Condensed", sans-serif;
            color: $main;
            font-size: 13px;
            line-height: 1.1;
        }
    }
}


.food-swiper {
    margin-top: 40px;
    .swiper-wrapper {
        .swiper-slide {
            &:nth-child(2n+1) {
                margin-top: 80px;
            }
            img {
                width: 100%;
                box-shadow: 5px 5px 10px rgb(221 221 221 / 21%);
            }
            strong {
                display: block;
                margin-bottom: 16px;
                font-family: "Fira Sans Extra Condensed", sans-serif;
                font-size: 20px;
            }
            span {
                margin-bottom: 10px;
                display: block;
            }
        }
    }
   
}

.culture-swiper {
    padding-top: 72px;
    margin-top: -72px;

    .swiper-button-prev {
        left: 215px;
        top: 22px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        opacity: 1;
        border: 1px solid #000000;
        border-radius: 50%;
    
        &:after {
            font-size: 14px;
        }
    }
    .swiper-button-next {
        left: 265px;
    top: 22px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    opacity: 1;
    border: 1px solid #000000;
    border-radius: 50%;
        &:after {
            font-size: 14px;
        }
    }
    .swiper-pagination {
        top: 0;
        bottom: auto;
        display: flex;
        justify-content: flex-end;
        .swiper-pagination-bullet {
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: $main;
        }
    }
    @include lg(){
        padding-top: 45px;
        margin-top: -45px;
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
    }
}

