

.title {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  color: $black;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  position: relative;
  &.center {
    text-align: center;
    &.border-b {
      
      &:after {
        left: 50%;
      margin-left: -35px;
      }
    }
  }
  &.border-b {
    margin-bottom: 30px;
    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      border-radius: 2px;
      background: $black;
      width: 70px;
      content: "";
    }
  }
  i {
    margin-right: 7px;
  }
  @include lg(){
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    
  } 
  &.title-b {
    font-size: 20px;
  }
  &.title-s {
    font-size: 20px;
    @include lg(){
      font-size: 17px;
    }
    &.mb-5 {
      margin-bottom: 10px!important;
    }
    &.mb-4 {
      margin-bottom: 10px!important;
    }
  }
}


img {
  max-width: 100%;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;

  > span {
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    &.avatar-default {
      background: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
      color: $white;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    img {
      object-fit: cover;
     
    }
  }
  &.thumb-16x9 {
    padding-bottom: 56.25%;
  }
  &.thumb-4x3 {
    padding-bottom: 75%;
  }
  &.thumb-3x2 {
    padding-bottom: 66.66%;
  }
  &.thumb-1x1 {
    padding-bottom: 100%;
  }
  &.thumb-5x2 {
    padding-bottom: 40%;
  }
  &.thumb-3x1 {
    padding-bottom: 33.3333%;
  }
  
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
  border-radius: 3px;
}




/* Track */
.left .art-detail::-webkit-scrollbar-track {
  background: #000; 
  border-radius: 3px;
}
 


@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1300px;
  }
}
.fw-bold,strong, b {
  font-weight: 600!important;
}