@import "normalize";

$main : #F56B06;
$black: #000000;
$black-light: #777;
$blackgray: #939393;
$darkgray: #A1A1A1;
$gray: #EDEDED;
$green: #01B14F;
$red: #ED1C24;
$blue: #0C5E8B;
$white: #fff;

$gra_main : linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);


.dark {
 
  $black: #ffffff;
  $blackgray: #939393;
  $darkgray: #A1A1A1;
  $gray: #EDEDED;
  $green: #01B14F;
  $red: #ED1C24;
  $blue: #0080FF;
  $white: #000000;
}

@mixin xxl(){
  @media screen and (max-width: 1400px) {
    @content
  }
}

@mixin xl(){
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin lg(){
  @media screen and (max-width: 991px) {
    @content
  }
}

@mixin max-lg(){
  @media screen and (max-width: 1080px) {
    @content
  }
}

@mixin min-xl(){
  @media screen and (min-width: 1200px) {
    @content
  }
}

@mixin min-lg(){
  @media screen and (min-width: 991px) {
    @content
  }
}

@mixin md(){
  @media screen and (max-width: 768px) {
    @content
  }
}
@mixin sm(){
  @media screen and (max-width: 540px) {
    @content
  }
}




@keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

//right
@keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

//up
@keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

//down
@keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


// Animation
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}


@keyframes floating-arrow {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
65% {
  -webkit-transform: translate(-50%, 15px);
  transform: translate(-50%, 15px);
}
100% {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
}
.floating-arrow  {
  -webkit-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}