@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Fira+Sans+Extra+Condensed:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Fira+Sans+Extra+Condensed:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}
body.open {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  line-height: 1.25;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}
body.open {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  aspect-ratio: attr(width)/attr(height) !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text-left {
  text-align: left;
}

.mr-0.swiper-filter {
  margin-right: 0 !important;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

a {
  transition: all 0.25s ease-in-out 0s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-bgd {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

@-webkit-keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.floating-arrow {
  -webkit-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.btn-change-avatar {
  width: 24px;
  height: 24px;
  background: url("../../public/static/images/icon/btn-change-avatar.svg") no-repeat center/contain;
}

.btn-style {
  height: 47px;
  border: 1px solid #F56B06;
  border-radius: 24px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  max-width: 160px;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #F56B06;
}
.btn-style svg {
  margin-left: 10px;
}

.btn-style-1 {
  height: 37px;
  padding: 0 20px;
  background: #F56B06;
  color: #fff;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  border-radius: 0;
}
.btn-style-1 svg {
  margin-left: 7px;
}
.btn-style-1:hover {
  background: #CE661B;
}

.title {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  color: #000000;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.title.center {
  text-align: center;
}
.title.center.border-b:after {
  left: 50%;
  margin-left: -35px;
}
.title.border-b {
  margin-bottom: 30px;
}
.title.border-b:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  border-radius: 2px;
  background: #000000;
  width: 70px;
  content: "";
}
.title i {
  margin-right: 7px;
}
@media screen and (max-width: 991px) {
  .title {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
  }
}
.title.title-b {
  font-size: 20px;
}
.title.title-s {
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  .title.title-s {
    font-size: 17px;
  }
}
.title.title-s.mb-5 {
  margin-bottom: 10px !important;
}
.title.title-s.mb-4 {
  margin-bottom: 10px !important;
}

img {
  max-width: 100%;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.thumb > span {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.thumb > span.avatar-default {
  background: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.thumb > span img {
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb.thumb-16x9 {
  padding-bottom: 56.25%;
}
.thumb.thumb-4x3 {
  padding-bottom: 75%;
}
.thumb.thumb-3x2 {
  padding-bottom: 66.66%;
}
.thumb.thumb-1x1 {
  padding-bottom: 100%;
}
.thumb.thumb-5x2 {
  padding-bottom: 40%;
}
.thumb.thumb-3x1 {
  padding-bottom: 33.3333%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  border-radius: 3px;
}

/* Track */
.left .art-detail::-webkit-scrollbar-track {
  background: #000;
  border-radius: 3px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1300px;
  }
}
.fw-bold, strong, b {
  font-weight: 600 !important;
}

.header {
  background: #FDEAE3 url(../images/bgd/bgd-header.png) no-repeat center/cover;
  position: relative;
}
.header .btn-down {
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: 0;
  cursor: pointer;
  z-index: 99;
}
@media screen and (max-width: 991px) {
  .header .btn-down {
    bottom: 30px;
  }
}
.header.video {
  width: 100%;
  background: none;
  height: 0;
  padding-bottom: 45%;
  position: relative;
}
.header.video .thumb-video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  left: 0;
  top: 0;
  object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.header.video::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.1) 30%, white 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  content: "";
}
.header.video h2 {
  position: absolute;
  z-index: 3;
  top: 50%;
  color: #96b96f;
  font-size: 6.5vw;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .header.video {
    padding-bottom: 85%;
  }
  .header.video h2 {
    top: 75%;
    font-size: 3rem;
  }
  .header.video .thumb-video {
    -o-object-position: center left;
       object-position: center left;
  }
}
.header .icon-video {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 0;
  margin-left: -26px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
}
.header .icon-video:hover {
  transform: scale(1.1);
}
.header .inner-header {
  align-items: center;
  max-height: 768px;
  display: flex;
}
@media screen and (max-width: 991px) {
  .header .inner-header {
    display: block;
    height: auto;
    max-height: 100%;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 1400px) {
  .header {
    padding-top: 50px;
  }
}
.header.img {
  background: none;
}
.header.img .outer-food {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  justify-content: space-between;
}
.header.img .outer-food .thumb-img {
  order: 2;
  justify-content: flex-end;
  max-width: 54%;
  display: flex;
  align-items: center;
}
.header.img .outer-food .des-1 {
  order: 1;
  width: 100%;
  max-width: 50%;
  margin-top: 61px;
}
.header.img .outer-food .des-1 span {
  color: #C3E3D4;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  position: relative;
  display: block;
  padding-bottom: 20px;
}
.header.img .outer-food .des-1 span:after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 50vw;
  content: "";
  background: #C3E3D4;
}
@media screen and (max-width: 1200px) {
  .header.img .outer-food .des-1 span {
    font-size: 70px;
  }
}
@media screen and (max-width: 991px) {
  .header.img .outer-food {
    display: block;
    height: auto;
    max-height: 100%;
    padding-bottom: 40px;
    position: relative;
  }
  .header.img .outer-food .thumb-img {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .header.img .outer-food .des-1 {
    position: absolute;
    left: 0;
    top: 80%;
    text-align: center;
    max-width: 100%;
    margin-top: 20px;
    transform: translateY(-50%);
  }
  .header.img .outer-food .des-1 span {
    font-size: 46px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
  .header.img .outer-food .des-1 span::after {
    display: none;
  }
}

.main-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 50px 0;
  z-index: 999;
  transition: all 0.25s ease-in-out 0s;
}
.main-nav .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-nav .container .logo {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -58px;
  z-index: 99;
  background: #fff;
  border-radius: 50%;
}
.main-nav .container .left-nav {
  display: flex;
  padding: 0 25px 0 100px;
  margin: 0 0 0 10px;
  list-style: none;
  align-items: center;
  border-radius: 25px;
  border: 2px solid #000;
}
.main-nav .container .left-nav li a {
  padding: 13px 25px;
  display: block;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
.main-nav .container .left-nav li a:hover {
  color: #F56B06;
}
.main-nav .container .left-nav li.active a {
  color: #F56B06;
}
@media screen and (max-width: 991px) {
  .main-nav .container .left-nav {
    left: 100%;
    display: block;
    position: absolute;
    transition: all 0.35s ease-in-out 0s;
    top: 100%;
    width: 0;
    margin: 0;
    padding: 0;
    background: #fff !important;
    border: 0 !important;
    border-radius: 0;
    opacity: 0;
    overflow: hidden;
    height: calc(100vh - 75px);
  }
  .main-nav .container .left-nav li a {
    color: #000 !important;
  }
  .main-nav .container .left-nav li a:hover {
    color: #F56B06 !important;
  }
  .main-nav .container .left-nav li.active a {
    color: #F56B06 !important;
  }
}
.main-nav .container .social-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
.main-nav .container .social-nav li {
  padding-left: 20px;
}
.main-nav .container .social-nav li a {
  color: #000;
}
.main-nav .container .social-nav li svg {
  cursor: pointer;
}
.main-nav.white .container .left-nav {
  background: #000000;
  border: 2px solid #fff;
}
.main-nav.white .container .left-nav li a {
  color: #fff;
}
.main-nav.white .container .left-nav li a:hover {
  color: #F56B06;
}
.main-nav.white .container .left-nav li.active a {
  color: #F56B06;
}
.main-nav.white .social-nav li svg {
  color: #fff;
}
.main-nav.white .btn-menu svg {
  color: #fff;
}
.main-nav.black {
  padding-top: 35px;
  padding-bottom: 35px;
}
.main-nav.black .container .left-nav {
  background: #000000;
  border: 2px solid #fff;
}
.main-nav.black .container .left-nav li a {
  color: #fff;
}
.main-nav.black .container .left-nav li a:hover {
  color: #F56B06;
}
.main-nav.black .container .left-nav li.active a {
  color: #F56B06;
}
.main-nav.black .social-nav li svg {
  color: #000000 !important;
}
.main-nav.black .btn-menu svg {
  color: #000;
}
@media screen and (max-width: 991px) {
  .main-nav {
    padding: 25px 0;
  }
  .main-nav .container {
    position: static;
    justify-content: flex-end;
  }
  .main-nav .container .logo {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    left: 15px;
  }
  .main-nav.black {
    padding: 25px 0;
  }
  .main-nav .btn-menu {
    margin-left: 20px;
  }
}

.open .main-nav .container .left-nav {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #fff;
  border-color: #000000;
  opacity: 1;
}
.open .main-nav .container .left-nav li a {
  color: #000000;
}
.open .main-nav .container .left-nav li a:hover {
  color: #F56B06;
}
.open .main-nav .container .left-nav li.active a {
  color: #F56B06;
}
.open .main-nav .container .btn-menu svg {
  color: #F56B06;
}

.footer {
  padding: 40px 0 30px 0;
  background: #000000;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .outer {
  display: block;
}
.footer .outer .logo {
  background: #fff;
  border-radius: 50%;
  display: block;
}
.footer .outer ul {
  display: flex;
  padding: 0;
  margin: 20px 0 0 0;
  justify-content: space-between;
}
.footer .outer ul li {
  list-style: none;
  color: #fff;
}
.footer .outer ul li a {
  color: #fff;
}
.footer .right {
  text-align: right;
  color: #fff;
}
.footer .right ul {
  display: flex;
  padding: 0;
  margin: 0 0 20px 0;
}
.footer .right ul li {
  list-style: none;
  margin-left: 25px;
}
.footer .right ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.footer .right ul li a:hover {
  color: #F56B06;
}
.footer .right p {
  margin-bottom: 3px;
}
@media screen and (max-width: 991px) {
  .footer .container {
    display: block;
  }
  .footer .container .outer {
    text-align: center;
  }
  .footer .container .outer .logo {
    display: inline-block;
  }
  .footer .container .outer ul {
    justify-content: center;
  }
  .footer .container .outer ul li {
    margin: 0 10px;
  }
  .footer .container .right {
    margin-top: 30px;
    text-align: center;
  }
  .footer .container .right ul {
    justify-content: center;
  }
  .footer .container .right ul li {
    margin-left: 0;
    margin-right: 10px;
    font-size: 14px;
  }
}

.box-icon {
  text-align: center;
  margin-top: 40px;
}
.box-icon .img {
  min-height: 155px;
  padding-bottom: 10px;
}
.box-icon .img img {
  margin: 0 20px;
}
.box-icon p {
  max-width: 550px;
  display: inline-block;
}

.modal .modal-body {
  padding: 30px;
}
.modal .modal-body ul {
  max-height: 30vh;
  overflow: auto;
}
.modal .modal-body h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin-bottom: 20px;
}
.modal .modal-body p {
  max-height: 40vh;
  overflow: auto;
}
.modal .btn-close {
  outline: none;
  box-shadow: none;
  border: 0;
  position: absolute;
  right: -5px;
  top: -15px;
  width: 45px;
  height: 45px;
  background: url(../images/icon/icon-close.svg) center no-repeat;
  color: #fff;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

.main-swiper {
  order: 2;
}
.main-swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0 !important;
}
.main-swiper .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}
.main-swiper .swiper-slide .outer-img {
  order: 2;
  text-align: right;
  max-width: 45%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.main-swiper .swiper-slide .des {
  order: 1;
  width: 100%;
  max-width: 45%;
  margin-top: 61px;
}
.main-swiper .swiper-slide .des h2 {
  color: #0C5E8B;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 20px;
}
.main-swiper .swiper-slide .des h2 span {
  font-size: 60px;
  display: block;
}
.main-swiper .swiper-slide .des p {
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .main-swiper .swiper-slide {
    display: block;
  }
  .main-swiper .swiper-slide .outer-img {
    order: 2;
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  .main-swiper .swiper-slide .des {
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  .main-swiper .swiper-slide .des h2 {
    font-size: 40px;
  }
  .main-swiper .swiper-slide .des h2 span {
    font-size: 30px;
  }
  .main-swiper .swiper-slide .btn-style {
    display: inline-block;
    line-height: 31px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 540px) {
  .main-swiper .swiper-slide .des {
    margin-top: 20px;
  }
  .main-swiper .swiper-slide .des h2 {
    margin-bottom: 10px;
  }
  .main-swiper .swiper-slide .des p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .main-swiper .swiper-slide .btn-style {
    display: inline-block;
    line-height: 28px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.main-swiper .swiper-pagination {
  width: 15px;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  left: auto;
  flex-direction: column;
}
.main-swiper .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  opacity: 1;
}
.main-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F56B06;
}
@media screen and (max-width: 991px) {
  .main-swiper .swiper-pagination {
    display: none;
  }
}

.product-swiper {
  padding-bottom: 70px;
  margin-top: 80px;
}
.product-swiper .product-slide {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
}
.product-swiper .product-slide img {
  width: 100%;
}
.product-swiper .product-slide .detail {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 15px;
  left: 0;
  bottom: 0;
  padding: 10px 5px;
}
.product-swiper .product-slide .detail a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}
.product-swiper .product-slide .detail p {
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out 0s;
}
.product-swiper .product-slide:after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 50%, black 100%);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.product-swiper .product-slide:hover .detail p {
  height: 135px;
}
.product-swiper .swiper-button-prev {
  left: 0;
  top: auto;
  bottom: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  opacity: 1;
  border: 1px solid #000000;
  border-radius: 50%;
}
.product-swiper .swiper-button-prev:after {
  font-size: 14px;
}
.product-swiper .swiper-button-next {
  left: 50px;
  top: auto;
  bottom: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  opacity: 1;
  border: 1px solid #000000;
  border-radius: 50%;
}
.product-swiper .swiper-button-next:after {
  font-size: 14px;
}
.product-swiper .swiper-pagination {
  width: 84%;
  left: 16%;
  top: auto;
  bottom: 15px;
}
.product-swiper .swiper-pagination .swiper-pagination-progressbar-fill {
  background: #F56B06;
}
@media screen and (max-width: 540px) {
  .product-swiper .swiper-pagination {
    width: 70%;
    left: 30%;
  }
}
@media screen and (max-width: 540px) {
  .product-swiper {
    margin-top: 10px;
  }
}

.team-swiper {
  margin-top: 40px;
}
.team-swiper .swiper-slide {
  text-align: center;
}
.team-swiper .swiper-slide .fullname {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  line-height: 1.1;
  margin: 15px 0 5px 0;
}
.team-swiper .swiper-slide .fulltitle {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #F56B06;
  font-size: 13px;
  line-height: 1.1;
}

.food-swiper {
  margin-top: 40px;
}
.food-swiper .swiper-wrapper .swiper-slide:nth-child(2n+1) {
  margin-top: 80px;
}
.food-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.21);
}
.food-swiper .swiper-wrapper .swiper-slide strong {
  display: block;
  margin-bottom: 16px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 20px;
}
.food-swiper .swiper-wrapper .swiper-slide span {
  margin-bottom: 10px;
  display: block;
}

.culture-swiper {
  padding-top: 72px;
  margin-top: -72px;
}
.culture-swiper .swiper-button-prev {
  left: 215px;
  top: 22px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  opacity: 1;
  border: 1px solid #000000;
  border-radius: 50%;
}
.culture-swiper .swiper-button-prev:after {
  font-size: 14px;
}
.culture-swiper .swiper-button-next {
  left: 265px;
  top: 22px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  opacity: 1;
  border: 1px solid #000000;
  border-radius: 50%;
}
.culture-swiper .swiper-button-next:after {
  font-size: 14px;
}
.culture-swiper .swiper-pagination {
  top: 0;
  bottom: auto;
  display: flex;
  justify-content: flex-end;
}
.culture-swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
}
.culture-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #F56B06;
}
@media screen and (max-width: 991px) {
  .culture-swiper {
    padding-top: 45px;
    margin-top: -45px;
  }
  .culture-swiper .swiper-button-next, .culture-swiper .swiper-button-prev {
    display: none;
  }
}

.section {
  padding: 36px 0;
}
.section #inputEmail-error, .section #inputName-error, .section #inputEmailHelp-error {
  color: red;
  font-size: 0.8rem;
}
.section .border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
}
.section .border-gradient-whitle {
  border-image-source: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0.8));
}
@media screen and (max-width: 991px) {
  .section {
    padding: 30px 0;
  }
}
.section#one {
  padding-top: 120px;
}
.section.section-culture {
  padding-bottom: 10px;
  background: url(../images/bgd/bgd-culture.png) center bottom no-repeat;
  background-size: cover;
}
.section.section-culture h3 {
  font-size: 18px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 500;
}
.section.section-new {
  padding: 50px 0;
  background: url(../images/bgd/bgd-news.jpg) no-repeat top/cover;
  position: relative;
  color: #fff;
}
.section.section-new .title {
  color: #fff;
}
.section.section-new .title:after {
  background: #fff;
}
.section.section-new .outer-news {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
}
@media screen and (max-width: 991px) {
  .section.section-new .outer-news {
    display: block;
  }
}
.section.section-product {
  background: url(../images/bgd/bgd-product.jpg) no-repeat center/cover;
  position: relative;
}
.section.section-contact {
  padding-top: 150px;
  padding-bottom: 0;
}
.section.section-contact .sup {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}
.section.section-contact .bottom-contact {
  background: url(../images/bgd/bgd-contact.jpg) no-repeat center/cover;
  padding: 80px 0;
  color: #fff;
}
.section.section-contact .bottom-contact .frm-contact {
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
.section.section-contact .bottom-contact .frm-contact .form-control {
  border-radius: 0;
  background: #D9D9D9;
  resize: none;
}
.section.section-contact .bottom-contact .inner {
  padding-left: 30px;
}
.section.section-contact .bottom-contact .inner a {
  text-decoration: none;
  color: #fff;
}
.section.section-contact .bottom-contact .inner a:hover {
  color: #F56B06;
}
.section.section-contact .bottom-contact .inner p {
  margin-bottom: 20px;
}
.section.section-contact .bottom-contact .inner address {
  margin-bottom: 20px;
}
.section.section-contact .bottom-contact .inner .list-share {
  list-style: none;
  padding-left: 0;
}
.section.section-contact .bottom-contact .inner .list-share li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.section.section-contact .bottom-contact .inner .list-share li strong {
  display: flex;
  align-items: center;
  width: 130px;
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.section.section-contact .bottom-contact .inner .list-share li strong svg {
  margin-right: 10px;
}
.section.section-contact .bottom-contact .inner .list-share li a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .section.section-contact {
    padding-top: 100px;
  }
  .section.section-contact .bottom-contact .frm-contact {
    margin-bottom: 30px;
  }
  .section.section-contact .bottom-contact .inner {
    padding: 0;
  }
}
.section.section-team {
  background: linear-gradient(270deg, #FDE9E1 7.96%, rgba(253, 233, 225, 0) 100%);
  padding-top: 0;
  overflow: hidden;
  position: relative;
}
.section.section-team .img-5 {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media screen and (max-width: 991px) {
  .section.section-team .img-5 {
    display: none;
  }
}
.section.section-team .box-team {
  padding-left: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section.section-team .box-team {
    padding-left: 0;
  }
}
.section.section-map {
  padding-top: 22%;
  background: url(../images/map.png) top center no-repeat;
  background-size: contain;
}
@media screen and (max-width: 540px) {
  .section.section-map {
    padding-top: 45%;
  }
}
.section.section-news {
  padding-bottom: 0;
}
.section.section-news .outer {
  padding: 0 0 45px 0;
}
@media screen and (max-width: 991px) {
  .section.section-news .outer {
    padding-bottom: 10px;
  }
}

.outer {
  display: flex;
}
.outer .slide {
  padding-left: 60px;
}
@media screen and (max-width: 991px) {
  .outer .slide {
    padding: 0;
    width: 100%;
  }
}
.outer .des {
  margin: auto;
  padding-left: 90px;
}
.outer .des ul li {
  margin-bottom: 10px;
}
.outer .inner-img {
  display: flex;
  align-items: center;
}
.outer .inner-img .img-1 {
  box-shadow: -20px 20px 0 #F56B06;
  margin-left: 20px;
  max-width: 290px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-1 {
    margin-bottom: 25px;
    margin-left: 0;
  }
}
.outer .inner-img .img-2 {
  position: relative;
  z-index: 1;
  margin-left: -100px;
  box-shadow: 20px 20px 0 #3FDBFA;
  margin-top: 20px;
  max-width: 255px;
}
@media screen and (max-width: 1400px) {
  .outer .inner-img .img-2 {
    margin-left: -200px;
  }
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-2 {
    margin-left: -220px;
  }
}
.outer .inner-img .img-3 {
  box-shadow: 20px 20px 0 #F38833;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-3 {
    margin-right: 40px;
    /* width: 100%; */
    width: auto;
    display: block;
    max-width: 93%;
    margin-bottom: 20px;
  }
}
.outer .inner-img .img-4 {
  box-shadow: -20px 20px 0 #D1E4B8;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-4 {
    max-width: 93%;
    margin-bottom: 20px;
  }
}
.outer .inner-img .img-6 {
  box-shadow: -20px -20px 0 #123553;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-6 {
    max-width: 93%;
    margin-bottom: 0px;
  }
}
.outer .inner-img .img-5s {
  box-shadow: -20px 20px 0 #000000;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-5s {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .outer .inner-img .img-5s {
    width: 93%;
  }
}
.outer .inner-img .img-7 {
  box-shadow: 20px -20px 0 #e1deda;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-7 {
    margin-top: 20px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-7 {
    max-width: 93%;
  }
}
.outer .inner-img .img-8 {
  box-shadow: -20px 20px 0 #2F4F02;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-8 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  .outer .inner-img .img-8 {
    max-width: 93%;
  }
}
@media screen and (max-width: 991px) {
  .outer {
    flex-wrap: wrap;
  }
  .outer .des {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .outer .inner-img {
    width: 100%;
    padding: 0 !important;
    justify-content: center !important;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.w-40 {
  width: 40%;
}
@media screen and (max-width: 991px) {
  .w-40 {
    width: 100%;
  }
}

.w-60 {
  width: 60%;
}
@media screen and (max-width: 991px) {
  .w-60 {
    width: 100%;
  }
}

.qoute {
  padding: 50px 60px;
  position: relative;
}
.qoute .before {
  position: absolute;
  left: 0;
  top: 40px;
}
.qoute .after {
  position: absolute;
  right: 0;
  bottom: 40px;
  transform: rotate(-180deg);
}
@media screen and (max-width: 991px) {
  .qoute {
    padding: 30px 45px;
  }
  .qoute span {
    max-height: 290px;
    overflow-y: scroll;
    display: block;
  }
  .qoute .before {
    top: 30px;
  }
  .qoute .after {
    bottom: 30px;
  }
}

.btn-menu {
  display: none;
}
@media screen and (max-width: 991px) {
  .btn-menu {
    display: block;
  }
}

.outer-news .swiper-wrapper .swiper-slide {
  width: 25%;
}
.outer-news .swiper-wrapper .swiper-slide:first-child {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .outer-news .swiper-wrapper .swiper-slide {
    width: 100% !important;
  }
  .outer-news .swiper-wrapper .swiper-slide .box-news img {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.box-news {
  padding: 0 10px;
}
.box-news h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 600;
}
.box-news h3 a {
  color: #fff;
  text-decoration: none;
}
.box-news h3 a:hover {
  color: #F56B06;
}
.box-news img {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .box-news {
    width: 100% !important;
    padding: 0;
    margin-top: 20px;
  }
  .box-news img {
    width: 100%;
    height: auto;
  }
  .box-news:first-child {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */